body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    padding: 10px;
}

h1 {
    margin-bottom: 10px;
}

#clock {
    font-size: 42px;
    margin: 15px 0;
}

button {
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#startPauseBtn {
    padding: 12px 20px;
    font-size: 16px;
    margin-bottom: 15px;
}

#players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.player-btn {
    padding: 20px;
    font-size: 15px;
    white-space: pre-line;
}

.in {
    background-color: green;
    color: white;
}

.out {
    background-color: gray;
    color: white;
}

#segments {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.segment-btn {
    padding: 12px;
    font-size: 14px;
    background-color: #ddd;
}

.active-segment {
    background-color: #004aad;
    color: white;
    font-weight: bold;
}
